.schedule {
    padding:5px 10px;
    background-color: #dfe6e9;
    border: none;
    border-radius: 1px;
    text-decoration: none !important;
    color: black !important;
}

.schedule:hover,
.schedule:focus {
    border: 3px solid #74b9ff;
}